<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>LOGIN PAGE</title>
</head>
<style type="text/css">
    .error-info {
        color: red;
    }

    .weixin-icon {
        width: 24px;
        height: 23px;
        display: block;
        background-image: url("resources/images/icon24_appwx_logo.png");
        margin: 0 auto;
        position: absolute;
        left: 55px;
    }
</style>
<body>
<!-- 登陆失败信息: @see org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler#saveException -->
<div th:if="${session.SPRING_SECURITY_LAST_EXCEPTION}" style="color:red;"
     th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></div>
<h1>FORM 表单登陆</h1>
<form th:action="@{/login}" th:method="POST">
    <div>
        <label>用户名: </label>
        <input type="text" name="username" placeholder="请输入用户名"/>
    </div>
    <div>
        <label>密码: </label>
        <input type="password" name="password" placeholder="请输入密码"/>
    </div>
    <input type="submit" value="登陆"/>
</form>

<div th:if="${smsEnabled}">
    <h1>手机短信登陆</h1>
    <form th:id="phoneLogin" th:action="@{/mobile/login}" th:method="POST">
        <div>
            <label>手机号: </label>
            <input type="text" id="phone" name="phone" value="18820132014" placeholder="请输入手机号"/>
        </div>
        <div>
            <label>验证码: </label>
            <input type="text" name="phoneCode" placeholder="请输入验证码"/>
            <a th:href="@{/sms/sender(phone=18820132014)}" target="_self">发送验证码</a>
        </div>
        <input th:type="submit" th:value="登陆" />
    </form>
</div>

<div>
    <h1>微信扫码登陆</h1>
    <div style="height: 32px;margin-top: 10px;">
        <a th:href="@{/wechat/login}">
            <b class="weixin-icon"></b>
            <span style="margin-left: 75px">微信</span>
        </a>
    </div>
</div>
</body>
</html>