<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hk.sso.server.mappers.SysRoleMapper">

    <select id="findRoleByAppIdAndUserId" parameterType="string" resultType="com.hk.oauth2.server.entity.SysRole">
        SELECT t1.*
        FROM sys_role t1
            JOIN sys_user_role t2 ON t1.id = t2.role_id
        WHERE t2.user_id = #{userId} AND t1.app_id = #{appId} AND t1.role_status = 1
    </select>
</mapper>
