<?xml version="1.0" encoding="UTF-8" ?><Configuration status="off">
    <properties>
        <property name="LOG_HOME">${sys:user.home}/logs/oauth2-server</property>
    </properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %c{1.} %M() @%L - %msg%n"/>
        </Console>

        <RollingFile name="myRollingFile" fileName="${LOG_HOME}/oauth2-server.log"
                     filePattern="${LOG_HOME}/$${date:yyyy-MM}/log-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %c{1.} %M() @%L - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="200MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <!-- OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
        <Root level="ERROR">
            <AppenderRef ref="console"/>
            <AppenderRef ref="myRollingFile"/>
        </Root>
        <Logger name="com.hk" additivity="true" level="INFO"/>
    </Loggers>
</Configuration>