<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="off">
    <properties>
        <property name="LOG_HOME">${sys:user.home}/logs</property>
    </properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level [%X{X-B3-TraceId},%X{X-B3-SpanId},%X{X-B3-ParentSpanId},%X{X-Span-Export}] %c{1.} %M() @%L - %msg%n"/>
        </Console>
        <RollingFile name="myRollingFile" fileName="${LOG_HOME}/emi.log"
                     filePattern="${LOG_HOME}/logs/$${date:yyyy-MM}/log-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %class{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1GB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <!-- OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
        <Root level="ERROR">
            <AppenderRef ref="console"/>
            <AppenderRef ref="myRollingFile"/>
        </Root>
        <Logger name="com.hk.emi" additivity="true" level="DEBUG"/>
        <Logger name="org.hibernate.SQL" additivity="true" level="DEBUG"/>
        <Logger name="org.springframework.jdbc.core.JdbcTemplate" additivity="true" level="DEBUG"/>
        <Logger name="org.springframework.jdbc.core.StatementCreatorUtils" additivity="true" level="DEBUG"/>
        <!--        <Logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"-->
        <!--                additivity="true" level="DEBUG"/>-->
    </Loggers>
</Configuration>